{% extends "base.html" %}
{% load md2 %}
{% block title %}Задание «{{assignment.title}}» — курс {{course.name|lower}} — Язык программирования Python (IT-Академия Алексея Сухорукова){% endblock %}
{% block content %}
                <article class="assignment">
                    {% comment %}<div class="assignment-date">{{assignment.date}}</div>{% endcomment %}
                    <h1 class="assignment-title">Задание. {{assignment.title}}</h1>
                    <div class="md">
                    {{assignment.text|markdown:"code-friendly, fenced-code-blocks"}}
                    </div>
                </article>
{% endblock %}