/* COLORS
    Background: #fff
    Accent:     #05b4e7
    Text:       #000
    Nav back:   #202F47
    Link:       #028EB6
    Vis. link:  #016683
    Title bg:   #05b4e7
    Footer txt: #8F98A6



*/

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,600,600i&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,600,600i&subset=cyrillic');

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?4769156');
    src: url('../font/fontello.eot?4769156#iefix') format('embedded-opentype'),
            url('../font/fontello.woff2?4769156') format('woff2'),
            url('../font/fontello.woff?4769156') format('woff'),
            url('../font/fontello.ttf?4769156') format('truetype'),
            url('../font/fontello.svg?4769156#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before, article.lesson>ul>li:before, #courses>li::before, article.post>.link::before, .attention-mark:after {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: inherit;
}

/* Fontello definitions */
[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline-block;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  }
.icon-menu:before { content: '\e807'; } 
.icon-right-open:before { content: '\e801'; }
.icon-left-open:before { content: '\e800'; }

#courses>li::before, article.lesson>ul>li:before {
    display: inline-block;
    margin: 0 0.5em 0 -1.5em;
    line-height: 1;
}
#courses>li::before {
    content: "\e804";
}
article.lesson>ul>li:before {
    /*content: "\2B95";*/content: "\e804";
}
article.post>.link::before {
    /*content: "\2BB1\00A0";*/
    content: "\E805\00A0";
}
.attention-mark:after {
    color: #fff;
    vertical-align: super;
    font-size: 50%;
    content: '\e800';
    display: inline-block;
    width: 0;
    height: 0;
    overflow: visible;
}

html {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14pt;
    box-sizing: border-box;
    min-width: 215px;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    background: #202F47;
}
.content {
    max-width: 980px;
    padding: 0 10px 0 10px;
    margin: 0 auto;
}

abbr {
    cursor: help;
}

/* Headers */
header {
    background: #05b4e7;
    color: #fff;
    padding-top: 0.5em;
}
header>.content>h1, header>.content>h2 {
    font-weight: 300;
}
header>.content>h1 {
    font-size: 180%;
    margin: 0.3em 0 0.1em 0;
}
header>.content>h1>a, header>.content>h1>a:visited, header>.content>h1>a:active{
    text-decoration: none;
    color: inherit;
}
header>.content>h2 {
    font-size: 120%;
    margin: 0.05em 0 1em 0;
}
header>.content {
    position: relative;
}

#info {
    max-width: 25%;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
}
#info>h1 {
    font-size: 80%;
    font-weight: 300;
    margin: 0;
    text-align: right;
}
#info>h1>a, #info>h1>a:visited {
    text-decoration: none;
    color: inherit;
}
#info>h1>a:hover {
    text-decoration: underline;
}
#info>h1>a:active {
    color: #028EB6;
}
#info>p {
    margin: 0.1em 0 0 0;
    font-size: 80%;
    text-align: right;
    font-weight: 300;
}

/* Desktop navigation */
#main-navigation {
    background: #202F47;
    color: #8F98A6;
    box-shadow: inset 0 0 0.5em #000000;
}
#main-navigation>ul {
    list-style: none;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}
#main-navigation>ul>li {
    display: inline-block;
    color: #fff;
    font-size: 110%;
    font-weight: 400;
    margin: 0 2em 0 0;
}
#main-navigation>ul>li:last-of-type {
    margin-right: 0;
}
#main-navigation>ul>li>a, #main-navigation>ul>li>a:visited {
    text-decoration: none;
    color: #05b4e7;
}
#main-navigation>ul>li>a:hover {
    text-decoration: underline;
}
#main-navigation>ul>li>a:active {
    color: #fff;
}

/* Footer */
footer {
    color: #8F98A6;
    font-size: 80%;
}
footer>.content a {
    color: inherit;
    text-decoration: none;
}
footer>.content a:hover {
    text-decoration: underline;
}
footer>.content>.column {
    width: 27%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0.5em 2em 0 1em;
    box-sizing: border-box;
}
footer>.content>.column:first-of-type {
    width: 45%;
    padding-left: 0;
}
footer>.content>.column:last-of-type {
    padding-right: 0;
}
footer>.content>.column>p {
    margin: 0.5em 0 0 1em;
}
footer>.content>.column>p#copyright {
    margin-left: 0;
}
footer>.content>.column>h1 {
    font-size: 100%;
    font-weight: 400;
    margin: 0.5em 0;
}
footer>.content>.column>ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1em;
}
footer>.content>.column>ul>li {
    margin: 0 0 0.5em 0;
}

/* Main content */
#main-content {
    background: #fff;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    box-shadow: 0 0.1em 0.05em #000;
    min-height: 20em;
}

h1.page-title {
    font-size: 140%;
    font-weight: 400;
}

.mobile {
    display: none;
}

/* Lessons & assignments & posts */
a.assignment {
    display: block;
    text-decoration: none;
}
a.assignment:hover {
    background: #f9f9f9;
    border-color: #aaa;
    box-shadow: 0.1em 0.1em 0.2em #aaa;
}
article.lesson, article.post, a.assignment {
    border: 1px solid #eee;
    padding: 0.5em 1em;
    margin: 1em 0 1em 0;
    position: relative;
    top: 0;
    left: 0;
    color: #222;
    box-shadow: 0.1em 0.1em 0.2em #eee;
}
article.current {
    border-color: #aaa;
    font-size: 100%;
    color: #000;
}
article.lesson>h1, article.post>h1, a.assignment>h1 {
    font-weight: 400;
    font-size: 120%;
    margin: 0 6em 0.3em 0;
}
article.lesson>.date, article.post>.date {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em 1em 0 0;
    font-size: 100%;
    font-weight: 300;
}
article.lesson>.description p, article.post>.description p, a.assignment>.description p {
    font-size: 100%;
    line-height: 1.5;
    margin: 0.5em 0 0 0;
}
article.lesson>ul {
    list-style: none;
    margin: 0.5em 0 0 0;
    padding: 0 0 0 3.5em;
    line-height: 1;
}
article.lesson>ul>li {
    margin-bottom: 1em;
}
article.lesson>ul>li:last-of-type {
    margin-bottom: 0.5em;
}
article.lesson a {
    text-decoration: none;
    color: #028EB6;
}
article.lesson a:visited {
    color: #016683;
}
article.lesson a:hover {
    text-decoration: underline;
}
article.post>h1 {
    margin-bottom: 0;
}
article.post>h1>a {
    color: #028EB6;
    text-decoration: none;
}
article.post>h1>a:hover {
    text-decoration: underline;
}
article.post>h1>a:visited {
    color: #016683;
}
article.post>.link {
    font-size: 80%;
    padding: 0 0 0 0.5em;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}
article.post>.link>a {
    color: #202F47;
    text-decoration: underline;
}

#nothing-to-display {
    padding-top: 1em;
    padding-bottom: 3em;
    margin-top: 1em;
    margin-bottom: 6em;
}
#nothing-to-display a:visited {
    color: #028EB6;
}

article.assignment {
    position: relative;
    top: 0;
    left: 0;
}
article.assignment>h1.assignment-title {
    font-size: 160%;
    font-weight: 400;
    margin: 1em 4em 1em 0;
}
article.assignment>div.assignment-date {
    position: absolute;
    top: 0; right: 0;
}

div.month-cal {
    margin: 1em 0;
}
div.month-cal>table {
    font-size: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 auto;
}
div.month-cal>table td {
    height: 3.5em;
    width: 3em;
    text-align: right;
    vertical-align: top;
    border: 1px solid #016683;
    margin: 0;
    padding: 0.1em 0.5em;
}
div.month-cal>table td.today, div.cal-legend li>span.today {
    background-color: #feffa8;
    box-shadow: inset 0 0 0.5em #000;
}
div.month-cal>table td.today>div.day, div.cal-legend li>span.today {
    font-weight: 600;
    text-decoration: underline;
}
div.month-cal>table td.lesson, div.cal-legend li>span.lesson {
    background-color: #9FF4D6;
}
div.month-cal>table td.moved-lesson, div.cal-legend li>span.moved-lesson {
    background-color: #F4DD9F;
}
div.month-cal>table td.no-lesson>div.time{
    font-size: 120%;
}
div.month-cal>table th {
    text-align: right;
    font-weight: 600;
}
div.month-cal>table td>div.day {
    font-size: 120%;
}
div.month-cal>table td>div.time {
    font-size: 80%;
}
div.month-cal>table tr.month-name>th {
    text-align: center;
}
div.cal-messages {
    border: 1px solid #aaa;
    padding: 0.5em 1em;
    margin: 1em 0;
}
div.cal-messages>h1 {
    font-weight: 400;
    font-size: 120%;
    margin: 0 0 0.3em 0;
}
div.cal-legend {
    font-size: 100%;
}
div.cal-legend>h1 {
    font-weight: 400;
    font-size: 120%;
    margin: 0 0 0.3em 0;
}
div.cal-legend ul {
    list-style: none;
    padding: 0 0 0 1em;
}
div.cal-legend ul>li {
    margin: 0 0 0.5em 0;
    padding-left: 3.3em;
    text-indent: -3.3em;
}
div.cal-legend li>span {
    text-indent: 0;
    display: inline-block;
    width: 2em;
    height: 1.5em;
    border: 1px solid #aaa;
    text-align: center;
    vertical-align: middle;
}
.cal-description {
    font-size: 100%;
}
.cal-description>p>a, .cal-description>p>a:visited {
    color: #028EB6;
    text-decoration: none;
    font-weight: 600;
}
.cal-description>p>a:hover {
    text-decoration: underline;
}

nav.pager {
    text-align: center;
    margin: 1.5em 0 1em 0;
}
nav.pager a, nav.pager .current-page, nav.pager .disabled-page {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #aaa;
    border-radius: 0.2em;
    vertical-align: middle;
    margin: 0 0.3em;
    text-decoration: none;
}
nav.pager .current-page {
    font-weight: 600;
    background: #eee;
}
nav.pager .disabled-page {
    background: #fff;
    color: #aaa;
}
nav.pager a, nav.pager a:visited {
    color: #016683;
}
nav.pager a:hover {
    color: #028EB6;
    background: #EDF8FD;
}

nav.mob-pager {
    margin: 0 0 1em 0;
}
nav.mob-pager a {
    display: block;
    border: 1px solid #016683;
    border-radius: 0.2em;
    color: #016683;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
    padding: 0.3em 0.1em;
}

dl.readings>dt {
    font-weight: 600;
}
dl.readings>dt>a {
    color: #028EB6;
    text-decoration: none;
}
dl.readings>dt>a:hover {
    text-decoration: underline;
}
dl.readings>dt>a:visited {
    color: #016683;
}
dl.readings>dd {
    margin: 0 0 1em 2em;
}
dl.readings>dd>p {
    margin: 0 0 0.5em 0;
}

article.contacts>h2 {
    font-size: 120%;
    font-weight: 400;
    margin-top: 1.5em;
}
article.contacts>h2:first-of-type {
    margin-top: 1em;
}
article.contacts>ul {
    list-style: none;
    padding: 0 0 0 2em;
}
article.contacts>ul>li {
    margin: 0 0 0.5em 0;
}
article.contacts>ul>li>span.label {
    display: inline-block;
    width: 5.5em;
    vertical-align: baseline;
}
article.contacts a {
    color: #028EB6;
    text-decoration: none;
}
article.contacts a:hover {
    text-decoration: underline;
}

#courses {
    list-style: none;
    margin: 0.5em 0 1.5em 0;
    padding: 0 0 0 2em;
}
#courses>li {
    margin-bottom: 1em;
}
#courses>li>a {
    color: #028EB6;
    text-decoration: none;
}
#courses>li>a:hover {
    text-decoration: underline; 
}

/* Timezone select form */
div.tz-description>p {
    margin: 1em 0;    
}
div.server-time>p {
    margin: 1em 0;
}
div.server-time>p>span.time {
    font-size: 100%;
}
form .controls {
    margin: 0 2em 1em 2em;
}
form .controls label {
    display: block;
    text-align: left;
}
form .controls input, form .controls select {
    display: block;
    width: 100%;
    height: 3em;
}
form .controls input[type="submit"] {
    margin: 2em auto 1em auto;
    max-width: 35em;
}

/* MD */
.md {
    overflow-x: auto;
}
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
    margin: 1em 0;
    font-weight: 400;
}
.md h1 {
    font-size: 160%;
}
.md h2 {
    font-size: 140%;
}
.md h3 {
    font-size: 120%;
}
.md h4 {
    font-size: 100%;
}
.md h5 {
    font-size: 100%;
    font-weight: 200;
}
.md h6 {
    font-size: 100%;
    font-weight: 100;
}
.md p {
    margin: 0 0 1em 0;
    line-height: 1.5;
}
.md ol, .md ul {
    margin: 1em 0;
    padding: 0 0 0 2.5em;
}
.md ol li, .md ul li {
    margin: 0 0 0.5em 0;
}
.md a {
    color: #028EB6;
    text-decoration: none;
}
.md a:hover {
    text-decoration: underline;
}
.md a:active {
    color: #05b4e7;
    text-decoration: underline;
}
.md a:visited {
    color: #016683;
}
.md pre {
    margin: 1em 0;
    padding: 0.5em;
    overflow-x: auto;
}
.md code {
    font-family: "IBM Plex Mono", Consolas, Monaco, "Lucida Console", monospace;
    word-break: break-all;
}
.md img {
    max-width: 100%;
    display: block;
    margin: 0.5em auto;
}
.md img.float-left {
    float: left;
    margin: 0.5em 1em 0.5em 0;
}
.md img.float-right {
    float: right;
    margin: 0.5em 0 0.5em 1em;
}
.md img.inline {
    display: inline-block;
    margin: 0;
}
.md .clear {
    clear: both;
}
.md blockquote {
    margin: 1em 0 1em 2em;
    padding: 0 0 0 0.5em;
    border-left: 3px solid #202F47;
    font-style: italic;
}
/* Intermediate screen size */
@media screen and (max-width: 818px) {
     #info {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;
        padding-top: 0;
        padding-bottom: 0.5em;
    }
    #info>h1 {
        font-size: 80%;
        font-weight: 300;
        margin: 0;
        text-align: left;
    }
    #info>p {
        margin: 0.1em 0 0 0;
        font-size: 80%;
        text-align: left;
    }
    
    header>.content>h2 {
        margin-bottom: 0.5em;
    }
    
    #main-navigation>ul>li {
        font-size: 100%;
        margin-right: 0.7em;
    }

    footer>.content>.column, footer>.content>.column:first-of-type {
        display: block;
        width: 100%;
        padding: 0 0 1em 0;
    }
    footer>.content>.column>ul>li {
        margin: 1em 0 1em 0;
    }
}

/* Mobile screen size */
@media screen and (max-width: 640px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    
    #top-menu-button {
        display: inline-block;
        padding: 0.2em;
        color: #fff;
        text-decoration: none;
        font-size: 120%;
    }
    #menu-button-box {
        background: #05b4e7;
    }
    #menu-slide {
        height: 120%;
        width: 100%;
        margin-left: -100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        transition: 0.2s;
        overflow: hidden;
        background: #202F47;
        color: #fff;
    }
    #menu-slide>.headers {
        margin: 0.6em 0 1em 0;
        padding: 0.5em;
    }
    #menu-slide>.headers>h1, #menu-slide>.headers>h2 {
        font-weight: 300;
        margin: 0;
        padding: 0;
    }
    #menu-slide>.headers>h1 {
        font-size: 120%;
    }
    #menu-slide>.headers>h2 {
        font-size: 80%;
        margin-top: 0.2em;
    }
    #menu-close-box {
        height: 1.5em;
        vertical-align: middle;
        font-size: 100%;
        font-weight: 400;
        margin: 0.2em 0.5em 0.2em 0.2em;
    }
    #menu-close-box>a {
        color: #fff;
        text-decoration: none;
        font-size: 120%;
    }
    #menu-slide>nav {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0 1em 0 1.5em;
        border-top: 1px solid #8F98A6;
    }
    #menu-slide>nav>ul {
        padding: 0;
        list-style: none;
    }
    #menu-slide>nav>ul>li {
        display: block;
        font-size: 120%;
        margin: 0.2em 0 1em 0;
    }
    #menu-slide>nav>ul>li>a {
        color: #05b4e7;
        text-decoration: none;
    }
    #menu-slide>nav>ul>li>a:hover {
        text-decoration: underline;
    }

    header>.content>h1 {
        font-size: 120%;
        font-weight: 300;
    }
    header>.content>h2 {
        font-weight: 300;
        font-size: 80%;
    }
    
    h1.page-title {
        margin: 0.5em 0;
        font-weight: 600;
        font-size: 100%;
    }
    article.lesson>h1, article.post>h1, a.assignment>h1 {
        margin-right: 0;
        font-size: 100%;
    }
    article.lesson>div.description, article.post>div.description, a.assignment>div.description {
        font-size: 80%;
    }
    article.lesson>.date, article.post>.date {
        position: relative;
        top: 0;
        left: 0;
        font-size: 80%;
        font-weight: 600;
    }
    article.lesson>ul {
        padding: 0 0 0 1.5em;
    }
    article.lesson>ul>li {
        margin-top: 1em;
        margin-bottom: 1.5em;
    }
    article.lesson>ul>li:last-of-type {
        margin-bottom: 0.5em;
    }
    div.month-cal>table {
        font-size: 60%;
    }
    .cal-description {
        font-size: 80%;
    }
    div.cal-messages {
        font-size: 80%;
    }
    div.cal-legend {
        font-size: 80%;
    }

    dl.readings>dd {
        margin: 0.5em 0 1.5em 0;
        font-size: 80%; 
    }
    dl.readings>dd>p {
        margin: 0 0 0.2em 0;
    }
 
    article.contacts>ul {
        padding: 0;
    }
    article.contacts>ul>li {
        margin: 0 0 1em 0;
    }

    article.assignment>h1.assignment-title {
        font-size: 140%;
        font-weight: 400;
        margin: 0 0 1em 0;
    }
    article.assignment>div.assignment-date {
        position: relative;
        top: 0; left: 0;
        margin: 1em 0 0 0;
        text-align: right;
        font-size: 80%;
    }

    div.tz-description {
        font-size: 80%;
    }

    .md code {
        font-size: 80%;
    }
    .md ol, .md ul {
        padding: 0 0 0 1.5em;
    }
    .md h1 {
        font-size: 140%;
    }
    .md h2 {
        font-size: 120%;
    }
    .md h3 {
        font-size: 110%;
    }
    .md h4 {
        font-size: 100%;
    }
    .md h5 {
        font-size: 100%;
        font-weight: 200;
    }
    .md h6 {
        font-size: 100%;
        font-weight: 100;
    }
}
/* special case */
@media screen and (max-width: 345px) {
    article.contacts>ul>li>span.label {
        font-size: 80%;
        vertical-align: middle;
    }
    article.contacts a {
        vertical-align: middle;
    }
}