{% extends "base.html" %}
{% load md2 %}
{% block title %}Внеклассное чтение &mdash; Разработка сайтов на Python{% endblock %}
{% block content %}
                <h1 class="title">Внеклассное чтение</h1>
                <p>Конечно, за краткий 60-часовой курс невозможно рассказать обо всех возможностях, особенностях и вариантах применения 
                как самого Python, так и стандартной библиотеки языка (об огромном количестве сторонних библиотек даже речь не идёт). 
                Если вы действительно собираетесь активно использовать Python, необходимо будет искать информацию самостоятельно.</p>
                <p>Я приведу несколько ссылок на известные мне полезные материалы по Python.</p>
                <dl>
                {% for i in reading_items %}
                    <dt><a href="{{i.url}}" target="_blank">{{i.title}}</a></dt>
                    <dd>
                        {{i.description|markdown}}
                    </dd>
                {% empty %}
                    <p>Материалы пока не опубликованы.</p>
                {% endfor %}
                </dl>
{% endblock %}