{% extends "base.html" %}
{% load md2 %}
{% block title %}Задание: {{assignment.title}} &mdash; Разработка сайтов на Python{% endblock %}
{% block content %}
    <article class="assignment">
        <div class="assignment-bar"><a href="{% url "assignments_view" %}">&#10094; Назад</a></div>
        <h1 class="assignment-title title">Домашнее задание. {{assignment.title}}</h1>
        <p class="assignment-date">{{assignment.date|date:"j E Y"}}</p>
        {{assignment.text|markdown:"code-friendly, fenced-code-blocks"}}
    </article>
{% endblock %}
